.grid-places__like {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    background-color: white;
    outline: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
}

.grid-places__like:hover {
    opacity: 0.5;
}